body, html {
margin: 0;
height: 100%;
}
.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#__next {
height: 100%;}

.EditorContainer {
  width: calc(100% - 550px);
  height: 100%;
}

.PreviewContainer {
  width: 550px;
  border-left: 1px solid black;
}

iframe {
margin: auto;
margin-top: 16px;
margin-bottom: 16px;
border: 1px solid white;
box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.PromptContainer {
  margin-top: 16px;
}

.PromptContainer textarea {
  width: 90%;
  margin: auto;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  resize: none;
}

.monaco-editor { overflow: hidden; }

.button {
  padding: 8px;
  background: gray;
  color: white;
  border-radius: 4px;;
}

#button-row {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}