body, html {
margin: 0;
height: 100%;
}
.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#__next {
height: 100%;}

.EditorContainer {
  width: calc(100% - 650px);
  height: 100%;
}

.PreviewContainer {
  width: 650px;
  border-left: 1px solid black;
}

.ExplorationsContainer {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: end;
  align-content: end;
  align-items: end;
}

.ExplorationsContainer > div {
  width: 33%;
}

.ExplorationsContainer .iframeContainer {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.ExplorationsContainer iframe {
  transform: scale(30%);
  transform-origin: top left;
}

iframe {
margin: auto;
margin-top: 16px;
margin-bottom: 16px;
border: 1px solid white;
box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.PromptContainer {
  margin-top: 16px;
}

.PromptContainer textarea {
  width: 90%;
  margin: auto;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  resize: none;
}

.monaco-editor { overflow: hidden; }

.button {
  padding: 8px;
  background: gray;
  color: white;
  border-radius: 4px;;
}

#button-row {
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

#Communing {
  position:fixed;
  top:0;
  left: 0;
  background: red;
}

.ErrorBox {
  background: rgba(255,0,0,0.3);
  border-radius: 8px;
  border: 1px solid red;
  margin: 16px;
}

.MobileBanner {
  display: flex;;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding: 32px;
  font-size: 32px;
  box-sizing: border-box;
  font-family: "SF Mono",Monaco,Menlo,Consolas,"Ubuntu Mono","Liberation Mono","DejaVu Sans Mono","Courier New",monospace;
}

@media only screen and (max-width: 499px) {
  .App {
    display: none;
  }
  .MobileBanner {
    display: flex;
  }
}

@media only screen and (min-width: 500px) {
  .MobileBanner {
    display: none;
  }
}
